.categoryHighlights{
    padding: 20px 0;
    text-transform: capitalize; 
    width: 100%;
}

.productContainer {
    width:  100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-bottom: 40px; 
    justify-content: center;  
}

.button {
        border: 1px solid black;
        background-color: transparent;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 1em;
        padding: 10px 20px;
        border-radius: 5px;
    }
.productItem:nth-child(1), .productItem:nth-child(3) {
 transform: translateY(-30px);
}

.productItem:nth-child(2) {
    transform: scale(1.1);
    margin: 0 20px;
}



.categoryHighlights:nth-child(odd){
    background-color: black;
    color: black;
    .button {
        background-color: white;
    }
    h2{
        color:white
    }
}

@media (max-width: 660px) {
    .productItem:nth-child(2){
        transform: scale(1);
    }
    .productItem:nth-child(1), .productItem:nth-child(3) {
        transform: translateY(0px);
       }
       .categoryHighlights{
           padding: 0;
           margin: 0;
       }
       
    .productContainer {
        
        padding: 0;
           margin: 0;
    }
    .productItem:nth-child(2){
        margin: 0;
    }
}

@media (max-width: 400px) {
    .productItem{
        width: 100%;
    }
}
