.header{
    background-image: url(../../assets/header-background.jpeg);
    background-repeat: no-repeat;
    
    background-position: -100px;
    width: 100%;
    a {
        text-decoration: none;
        color: white;
    }
}