.button{
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
    font-weight: bold;
    padding: 5px 10px;
    width: 100%;
    border: none;
    color: white;
    text-transform: uppercase;
}

.button:hover{
    outline: 2px solid black;
    outline-offset: 1px;
    transition: all 0.1s;
}